/* Хорошего дня! */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0;
  display: flex;
  width: 730px;
  padding-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  align-items: center;
  z-index: 3;
}

.header__subtitle {
/*border: black 1px solid;*/
  position: absolute;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  left: 64px;
  bottom: 30px;
  margin: 0;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

/*DESCRIPTION*/

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
/*border: black 1px solid;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 80%;
}

.two-columns__span-accent {
/*border: black 1px solid;*/
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__brief {
  display: flex;
  padding: 0;
  margin: 0;
  font-weight: normal;
/*border: black 1px solid;*/
  flex-basis: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
}

.two-columns__main-text {
  display: flex;
/*border: black 1px solid;*/
  flex-basis: 80%;
  min-width: 784px;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
/*border: black 1px solid;*/
  font-size: 24px;
  line-height: 34px;
  margin: 0;
}

.two-columns__paragraph:nth-of-type(2n) {
  padding: 30px 0;
} 
/*DIGITS*/

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
/*border: black 1px solid;*/
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  padding-bottom: 20px;
  margin: 0 auto;
  z-index: 2;
}

.section-subtitle {
/*border: black 1px solid;*/
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  padding-top: 0;
  margin: 0 auto;
  z-index: 2;
}

.table {
/*border: black 1px solid;*/
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  /*padding-bottom: 100px;*/
}

.table__cell {
/*border: black 1px solid;*/
  display: flex;
  width: 250px;
  flex-direction: column;
  padding-top: 60px;
}

/*Создал ещё один модификатор для table__cell, потому что в слайде "KAUFMAN" отступы больше, чем в DIGITS.
Хоть это не по брифу, но так мне кажется првильнее*/
.table__cell_space_large {
  padding-top: 80px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  padding-top: 20px;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: none;
}

/*FEYNMAN*/

.feynman {
  background-color: #f2f2f2;
  min-height: 890px;
  padding-top: 100px;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman__title {
  /*border: #13df6f 1px solid;*/
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  width: 648px;
  z-index: 3;
  position: relative;
  margin: 0 auto;
  padding-bottom: 70px;
}

.feynman__subtitle {
  /*border: #fc770b 1px solid;*/
  line-height: 51px;
  font-size: 36px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  position: relative;
}

.feynman__link {
  /*border: black 1px solid;*/
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  top: 50%;
  right: 48px;
  color: #2f80ed;
}

.feynman__image {
  /*border: black 1px solid;*/
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

/*KAUFMAN*/

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  background-repeat: no-repeat;
  right: -210px;
  top: 0;
  background-size: contain;
  background-image: url(../images/kaufman-triangle.svg);
  z-index: 0;
}

.table_theme_dark {
  position: relative;
  color: white;
  z-index: 1;
  position: relative;
}

.table__cell_theme_dark {
  width: 200px;
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
}

/*FOOTER*/

.footer {
  min-height: 350px;
  color: white;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 0;
  padding: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  margin: 0;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

.footer__column-links {
  margin: 0;
  padding: 0 0 16px 0;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link {
  color:#fff;
  text-decoration: none;
  font-weight: none;
}

.footer__social-icon {
  width:16px;
  height:16px;
  padding-right: 10px;
}
